* {
    padding: 0;
    margin: 0;
     
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


html, body{
    width: 100%;
    height: auto;
}

text {
    font: 12px sans-serif;
}

div.navbar{
    background-color: #333;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: fixed;*/
}

h2.project{
    color:#fff;
    float: left;
    padding-top: 5px;
    font-weight: 700;
}

h2.project > a:link,
h2.project > a:visited {
    text-decoration: none;
    color: #fff;
}

.nav {
    color:#fff;
    padding-top: 10px;
    float: right;
}
.nav > li {
    color:#fff;
    display: inline-block;
}

.nav > li + li {
    margin-left: 20px;
}

.nav > li > a {
    color: #fff;
    color: rgba(255,255,255, 0.8);
    font-size: 16px;
}

.nav > li > a:link,
.nav > li > a:visited {
    text-decoration: none;
}

.nav > li > a:hover {
    text-decoration: underline;
    color: #fff;
}

.summary, .texts {
    color: #000;
    margin: 30px;
}

.nav-buttons {
    width: 20%;
    height: 800px;
    /*height: 30px;*/
    /*position: fixed;*/
    /*background-color: #333;*/
    float: right;
}

.page-content{
    width: 80%;
    height: 800px;
    float: left;
    overflow: scroll;
}

.button > a:link,
.button > a:visited {
    text-decoration: none;
    color: #000;
}



.button {
    width: 100%;
    height: 50px;
    /*height: 100%;*/
    padding: 10px;
    /*margin: 20px;*/
    text-align: left;
    background-color: #CCC;
}

.button > a {
    margin: 0 10px 0 0;
}

.button:hover {
    color: #fff;
    background-color: #999;
    text-decoration: underline;
}



.header {
    background-color: #333;
    color: #fff;
    text-align: left;
    width: 100%;
}

.header > h3 {
    margin-left: 2%;
}

.sub-header {
    margin: 30px 30px 0px 30px;
}

.content {
    margin: 30px 30px 30px 30px;
    /*padding: 30px;*/
    font-size: 18px;
    background-color: #CCC;
}


ul {
    padding: 30px;
}

svg {
    display: block;
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
}

img {
    /*margin: 30px 30px 0 30px;*/
    width: 700px;
    height: 400px;
    /*padding: 30px;*/
}



