* {
    padding: 0;
    margin: 0;
     
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{
    width: 100%;
    height: auto;
}



svg {
    display: block;
}

text {
    font: 12px sans-serif;
}

div.navbar{
    background-color: #333;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h2.project{
    color:#fff;
    float: left;
    padding-top: 5px;
    font-weight: 700;
}

h2.project > a:link,
h2.project > a:visited {
    text-decoration: none;
    color: #fff;
}


.nav {
    color:#fff;
    padding-top: 10px;
    float: right;
}
.nav > li {
    color:#fff;
    display: inline-block;
}

.nav > li + li {
    margin-left: 20px;
}

.nav > li > a {
    color: #fff;
    color: rgba(255,255,255, 0.8);
    font-size: 16px;
}

.nav > li > a:link,
.nav > li > a:visited {
    text-decoration: none;
}

.nav > li > a:hover {
    text-decoration: underline;
    color: #fff;
}

.summary, .texts {
    color: #000;
    margin: 10px;
}



.individual {
    width: 100%;
    height: 800px;
    margin: 10px 0 0 0;
}

.left {
    width: 49.5%;
    height: 100%;
    float: left;
}

.right {
    width: 49.5%;
    height: 100%;
    float: right;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}
.header-left > h3 {
    text-align: center;
}

.inputted-text {
    width: 100%;
    height: 25%;
    padding: 10px;
}

.topic > ul {
    list-style-type: none;
}

.texts {
    font-size: 14px;
}

a.topic-name {
    font-size: 18px;
}


.pred-boxoffice {
    text-align: center;
}

.trend{
    width: 100%;
    height: 500px;
    margin: 10px 0 0 0;
}

#chart, svg{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.footnote {
    background-color: #333;
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;
}