<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href='../static/css/mystyle_predict.css' rel="stylesheet" type="text/css">
</head>


<body>

  <div class='navbar'>
    <h2 class="project"><a href="/#">Movier<a></h2>
    <nav>
      <ul class="nav">
        <li><a href="/#">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/pickamovie">PickAMovie</a></li>
        <li><a href="#">Predict</a></li>
        <li><a href="/trends">Trends</a></li>
      </ul>
    </nav>
  </div>

  <div class='error'>
    No subtitle has been provided, go to <a href="/pickamovie">PickAMovie</a> to upload one.
  </div>

  </body>
</html>